{
  "printWidth": 120,
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "endOfLine": "auto",
  "useTabs": false,
  "arrowParens": "always",
  "tailwindConfig": "./tailwind.config.ts",
  "plugins": ["prettier-plugin-tailwindcss"]
}