@tailwind base;
@tailwind components;
@tailwind utilities;

.bg:after {
    content: "Flexible Developer HYEMI ";
    font-size: 7vw;
    font-weight: bold;
    opacity: 0.05;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    text-align: center;
}
